@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

body {
  background-image: url(./res/body-bg.png);
  overflow-x: hidden !important;
}

a {
  text-decoration: none !important;
}

#main {
  /* padding-top: 15vh; */
}

/* MOBILE NAV MENU */

.nav-link-hide {
  display: none !important;
}

.top-header {
  display: none;
}

#navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 15vh;
  border-bottom: 2px solid;
  background-color: #fff;
}

#logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  width: 175px;

  /* background-image: url(./res/logo.png);
  background-repeat: no-repeat;
  width: 50vw ; */
}

#logo img {
  width: 100%;
}

#hamMenu {
  position: absolute;
  left: 1rem;
}

.nav-links-container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 100vw;
  height: 70vh;
  background-color: #0000008a;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hamX {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10000;
}

#hamX i {
  color: #fff;
  font-size: 2rem;
}

.CC {
  border: 2px solid #915325;
  background-color: #ec4327;
  padding: 0.5rem 1rem;
}

.CC a {
  color: #fafafa !important;
}

.links {
  margin-bottom: 2rem;
}

.links a {
  color: #fff;
  font-weight: 900;
  font-size: 1.5rem;
}

/* MEDIA QUARIES */

@media only screen and (min-width: 768px) {
  /* #navbar {
    display: flex;
  } */

  #hamMenu {
    display: none;
  }

  .nav-link-hide {
    display: block !important;
  }

  .top-header {
    display: flex;
    background-color: #000;
    width: 100vw;
    position: fixed;
    top: 0;
    margin-bottom: 0.1rem;
    z-index: 100000;
    padding: 0.4rem 0;
  }

  .top-header-options a {
    color: #fff;
  }

  .top-header-options {
    display: flex;
    gap: 1rem;
  }

  .social-media-icon {
    display: flex;
    gap: 1.5rem;
    width: auto;
  }

  .top-header-items {
    display: flex;
    gap: 2rem;

    /* align-items: flex-end !important; */
    margin: 0 2rem 0 auto;
  }

  .nav-links-container {
    position: relative;
    width: auto;
    height: auto;
    background-color: #0000;
    flex-direction: row;
    justify-content: center;
  }

  .nav-links {
    margin: 0 3rem 0 0;
  }

  #hamX {
    display: none;
  }

  .links {
    margin: 0 0 0 0.7rem;
  }

  .links a {
    color: #000;
    font-weight: 700;
    font-size: 1rem;
  }

  .CC {
    margin: 0 3rem 0 1rem;
    padding: 0.8rem 1.5rem;
    color: #915325 !important;
    background-color: #fff;
  }

  .CC a {
    color: #915325 !important;
  }

  .CC:hover {
    background-color: #915325;
    transition: all 0.2s ease-in-out;
    color: #fff !important;
  }

  .CC a:hover {
    color: #fff !important;
  }

  #navbar {
    position: fixed;
    top: 37px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 15vh;
    border-bottom: 2px solid;
  }

  #logo {
    position: absolute;
    left: 3%;
    transform: translateX(0%);
    padding: 2rem;
    width: 10rem;
    margin-bottom: 1rem;
  }

  #logo img {
    width: 100%;
  }

  /* FOOTER */

  #footer {
    background-color: #3d3a3a;
    margin-top: 3rem;
  }

  .footer-items {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: flex-end;
  }

  .footer-text {
    margin: 1rem 0 0 auto;
  }

  .footer-text p {
    color: rgb(255, 255, 255) !important;
    font-size: 0.8rem;
    font-weight: 600;
  }

  #footer-logo {
    width: 4rem;
  }

  #footer-logo img {
    width: 100%;
  }
}

@media only screen and (min-width: 1204px) {
  #logo {
    left: 3%;
  }

  .links a {
    margin: 0 0 0 1.2rem;
  }
}

/* MOBILE NAV MENU */

#footer {
  background-color: #3d3a3a;
  margin-top: 3rem;
}

.footer-items {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.footer-text {
  margin: 1rem 0 0 auto;
}

.footer-text p {
  color: rgb(255, 255, 255) !important;
  font-size: 0.8rem;
  font-weight: 600;
}

#footer-logo {
  width: 4rem;
}

#footer-logo img {
  width: 100%;
}
